/* :root {} */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.scene {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;

}

.cardFace {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cardFaceFront {
    background-image: url("/images/bw_tarot.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all linear .6s;
}

.cardFaceBack {
    background-image: url("/images/bw_frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    transition: all linear .6s;
}


.card.is-flipped {
    transform: rotateY(180deg);
}


.cardFaceFront:hover {
    background-image: url("/images/color_tarot.png");
}

.cardFaceBack:hover {
    background-image: url("/images/color_frame.png");
}

.cardContentBack {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px
}