:root {}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;

}

.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.cardInner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
}

.cardInner.is-flipped {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

/* .cardContentFront {
    background-image: url("/images/bw_frame.png");
    background-size: 100%;
    aspect-ratio: auto 837 / 1289;
} */

.cardFaceFront img {
    max-width: 100%;
    max-height: 100%;
    transition: all linear 0.8s;
}

.hoverImage {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.cardFaceBack {
    transform: rotateY(180deg);
}


.cardFaceBack img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.8s;
}

.hoverFrame {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.cardFaceBack {
    transform: rotateY(180deg);
}